<div class="snippet-explanation-screenshot"><img src="{{ site.baseurl }}/resources/img/intellij.png"/></div>
<div class="snippet-explanation">
  <h3>Scala Plugin for IntelliJ</h3>
  <p>JetBrains provides a Scala plugin which works in the community as well as the commercial version of their IntelliJ IDE.</p>
  <p>It turns IntelliJ into a fully featured Scala IDE offering syntax highlighting, warning/error markers, auto-completion, refactorings, inspections and intentions.</p>
  <p>Just place a<tt> *.scala </tt>file in your project and IntelliJ will offer to download and install the IntelliJ Scala plugin:
     <a class="download-button" href="//www.jetbrains.com/help/idea/2016.2/creating-and-running-your-scala-application.html">Scala Plugin for IntelliJ</a>
  </p>
</div>
