<div class="snippet-explanation" style="width: 530px;">
  <h3>ScalaIDE – The Scala Plugin for Eclipse</h3>
  <p>ScalaIDE is a plugin for the popular Eclipse IDE. You can download a bundled version which contains both the Scala plugin and the Eclipse IDE: <a class="download-button" href="//scala-ide.org/download/sdk.html">Download ScalaIDE Bundle</a></p>
  <p>The bundle contains the lastest release version of the Scala IDE for Eclipse and it comes pre-configured for optimal performance. No need to configure update sites, and <em>Check for updates</em> will keep your development environment up to date.</p>
  <p>Whether you are a seasoned Scala developer, or just picking up the language, this is the fastest way to get productive.</p>
  <p>Alternatively, you can add the ScalaIDE to your existing Eclipse installation:<a class="download-button" href="//scala-ide.org/download/current.html">Add ScalaIDE Update Site</a></p>
</div>
<div><img src="http://scala-ide.org/resources/images/sdk-4.0.0.png" style="width: 640px;float:right;"/></div>
