<div class="snippet-explanation-screenshot"><img src="{{ site.baseurl }}/resources/img/intellij.png"/></div>
<div class="snippet-explanation">
  <h3>Scala Plugin for IntelliJ</h3>
  <p>JetBrains provides a Scala plugin which works in the community as well as the commercial version of their IntelliJ IDE.</p>
  <p>It turns IntelliJ into a fully featured Scala IDE offering syntax highlighting, warning/error markers, auto-completion, refactorings, inspections and intentions.</p>
  <p>You can activate the Scala plugin either during installation, or enable it later via <em>File</em> ⇒ <em>Settings...</em> ⇒ <em>Plugins</em>.</p>
  <p>Here is a pictured walkthrough to help you getting started:<a class="download-button" href="{{ site.baseurl }}/documentation/editors/intellij">Scala Plugin for IntelliJ</a></p>
</div>
