<div class="snippet-explanation" style="width: 100%">
  <h3><img src="{{ site.baseurl }}/resources/img/logos/sbt.svg" style="width: 100px"/> – The Scala Build Tool</h3>
  <p>
    <ul>
      <li>Little or no configuration required for simple projects</li>
      <li>Scala-based build definition that can use the full flexibility of Scala code</li>
      <li>Accurate incremental recompilation using information extracted from the compiler</li>
      <li>Continuous compilation and testing with triggered execution</li>
      <li>Packages and publishes jars</li>
      <li>Generates documentation with scaladoc</li>
      <li>Supports mixed Scala/Java projects</li>
      <li>Supports testing with ScalaCheck, specs, and ScalaTest. JUnit is supported by a plugin.</li>
      <li>Starts the Scala REPL with project classes and dependencies on the classpath</li>
      <li>Modularization supported with sub-projects</li>
      <li>External project support (list a git repository as a dependency!)</li>
      <li>Parallel task execution, including parallel test execution</li>
      <li>Library management support: inline declarations, external Ivy or Maven configuration files, or manual management</li>
    </ul>
    <a class="download-button" href="//scala-sbt.org/">Get SBT</a>
  </p>
</div>