---
layout: default
---

{% include headertop.html %}
{% include headerbottom.html %}

<div class="splash">
  <div class="darkblue-overlay">&nbsp;</div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="scala-logo">
          <img src="{{ site.baseurl }}/resources/img/scala-logo-white.png" alt="Scala Logo" />
        </div>
        {% include navbar.html %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="splash-text ontop">
          <h2 style="font-weight: 700;">Object-Oriented Meets Functional</h2>
          <p class="splash-pitch">
            Enjoy the best of both worlds.<br/>
            Develop fast, expressive applications and libraries.<br/>
            Run them on the JVM, in the browser and on Android.
          </p>
          <a class="learn-more-btn" href="{{ site.baseurl }}/what-is-scala.html">Learn More</a>
          <div class="marker">
            <div class="dot"></div>
            <div class="pulse"></div>
          </div>
          <div id="tip">
            Scala began life in 2003, created by Martin Odersky and his research group at EPFL, next to Lake Geneva and the Alps, in Lausanne, Switzerland.<br/>Scala has since grown into a mature open source programming language, used by hundreds of thousands of developers, and is developed and maintained by scores of people all over the world.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container central get-scala">
  <div class="translucent-circle"></div>
  <div class="opaque-circle"></div>
  <a class="central-btn download" id="main-download-button" href="{{ site.baseurl }}/download/">Download</a>
  <a class="central-btn api" href="http://www.scala-lang.org/api/">API Docs&nbsp;&nbsp;&nbsp;&nbsp;</a>
  <div class="big-scala-spiral"><img src="{{ site.baseurl }}/resources/img/smooth-spiral.png" alt="Spiral" /></div>
  <div class="central-btn scala-version"><span class="superbold">Scala</span><br/>{{ site.scalaversion }}</div>
</div>

<div class="darkbluebar">
  <div class="container" style="position: relative; max-width: 670px">
    <div class="left-side">
      <p class="getting-started"><a href="{{ site.baseurl }}/documentation/getting-started.html"><b>Getting Started</b></a></p>
      <p class="dev-releases"><img src="{{ site.baseurl }}/resources/img/gears.png" alt="gears icon" /><a href="{{ site.baseurl }}/download/">&nbsp;Milestones, nightlies, etc.</a></p>
      <p class="all-releases"><img src="{{ site.baseurl }}/resources/img/list.png" alt="list icon" /><a href="{{ site.baseurl }}/download/all.html">&nbsp;All Previous Releases</a></p>
    </div>
    <div class="right-side">
      <p class="getting-started"><a href="http://www.scala-lang.org/api/current/"><b>Current API Docs</b></a></p>
      <p class="dev-releases"><img src="{{ site.baseurl }}/resources/img/list.png" alt="list icon" /><a href="{{ site.baseurl }}/documentation/api.html">&nbsp;API Docs (other versions)</a></p>
      <p class="dev-releases"><img src="{{ site.baseurl }}/resources/img/books.png" alt="books icon" /><a href="{{ site.baseurl }}/documentation/">&nbsp;Scala Documentation</a></p>
      <p class="all-releases"><img src="{{ site.baseurl }}/resources/img/books.png" alt="books icon" /><a href="{{ site.baseurl }}/documentation/specification/">&nbsp;Language Specification</a></p>
    </div>
  </div>
</div>

<div class="bullet-point-box bullet-point-box-large" id="nutshell">
  <div class="container">
    <div class="row">
      <div class="col-md-12 bullet-point">
        <h2><span>Scala in a Nutshell</span></h2>
        <p class="click">&nbsp;click the boxes below to see Scala in action!&nbsp;</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4 bullet-point snippet-link" id="java-interop">
        <h3>Seamless Java Interop</h3>
        <p>Scala runs on the JVM, so Java and<br/>
           Scala stacks can be freely mixed for<br/>
           totally seamless integration.</p>
      </div><div class="hidden-explanantion-box" id="after-java-interop"></div>
      <div class="col-md-6 col-lg-4 bullet-point snippet-link" id="expressive">
        <h3>Helpful &amp; Expressive Types</h3>
        <p>Don’t work for the type system.<br/>
           Let the type system work for you!</p>
      </div><div class="hidden-explanantion-box" id="after-expressive"></div>
      <div class="col-md-6 col-lg-4 bullet-point snippet-link" id="concurrency-distribution">
        <h3>Concurrency &amp; Distribution</h3>
        <p>Run operations on collections in parallel,<br>
           use actors for concurrency and distribution,<br/>
           or futures for asynchronous programming.</p>
      </div><div class="hidden-explanantion-box" id="after-concurrency-distribution"></div>
      <div class="col-md-6 col-lg-4 bullet-point snippet-link" id="traits">
        <h3>Traits</h3>
        <p>Combine the flexibility of Java-style<br/>
           interfaces with the power of classes.<br/>
           Think principled multiple-inheritance.</p>
      </div><div class="hidden-explanantion-box" id="after-traits"></div>
      <div class="col-md-6 col-lg-4 bullet-point snippet-link" id="pattern-matching">
        <h3>Pattern Matching</h3>
        <p>A “switch” statement on steroids:<br/>
           Match against values, objects,<br/>
           types, collections, and more.</p>
      </div><div class="hidden-explanantion-box" id="after-pattern-matching"></div>
      <div class="col-md-6 col-lg-4 bullet-point snippet-link" id="higher-order-functions">
        <h3>Higher-Order Functions</h3>
        <p>Functions are first-class objects.<br/>
           Compose them with guaranteed type safety.<br/>
           Use them anywhere, pass them to anything.</p>
      </div><div class="hidden-explanantion-box" id="after-higher-order-functions"></div>
      <div class="col-md-6 col-lg-4 bullet-point snippet-link" id="extensible">
        <h3>Extensible</h3>
        <p>Breathe new life into your existing codebase!<br/>
           Add new capabilities with context bounds or<br />
           extend your types with implicit classes.</p>
      </div><div class="hidden-explanantion-box" id="after-extensible"></div>
      <div class="col-md-6 col-lg-4 bullet-point snippet-link less-letter-spacing" id="scalable">
        <h3>Scalable</h3>
        <p>From small scripts that automate simple tasks<br/>
           to large mission-critical business applications,<br/>
           Scala grows with you.</p>
      </div><div class="hidden-explanantion-box" id="after-scalable"></div>
      <div class="col-md-6 col-lg-4 bullet-point snippet-link less-letter-spacing" id="stable">
        <h3>Stable &amp; Mature Ecosystem</h3>
        <p>Be up and running fast and get your work done.<br/>
           Have both first-class Scala libraries as well as<br/>
           all the platforms' libraries ready at your disposal!
        </p>
      </div><div class="hidden-explanantion-box" id="after-stable"></div>
    </div>
  </div>
{% include where-to-learn-more.html %}
</div>

<!-- hidden code-snippet content -->
<div class="hidden-code-snippet col-sm-12" id="hidden-java-interop">{% include bullet-java-interop.html %}</div>
<div class="hidden-code-snippet col-sm-12" id="hidden-expressive">{% include bullet-expressive.html %}</div>
<div class="hidden-code-snippet col-sm-12" id="hidden-concurrency-distribution">{% include bullet-concurrency-distribution.html %}</div>
<div class="hidden-code-snippet col-sm-12" id="hidden-traits">{% include bullet-traits.html %}</div>
<div class="hidden-code-snippet col-sm-12" id="hidden-pattern-matching">{% include bullet-pattern-matching.html %}</div>
<div class="hidden-code-snippet col-sm-12" id="hidden-higher-order-functions">{% include bullet-higher-order-functions.html %}</div>

<div class="bullet-point-box" id="platforms">
  <div class="bullet-row-4-wrap">
    <div class="container">
      <div class="row">
        <div class="col-md-12 bullet-point">
          <h2><span>Scala Platforms</span></h2>
        </div>
      </div>
      <div class="row">
        <a href="jvm">
          <div class="col-xs-4 col-sm-4 col-md-4 bullet-point snippet-link" id="jvm">
            <h3>On the JVM</h3>
            <p><img src="{{ site.baseurl }}/resources/img/logos/jvm.svg" style="width: 150px; height: 150px"/></p>
          </div>
        </a>
        <a href="browser">
          <div class="col-xs-4 col-sm-4 col-md-4 bullet-point snippet-link" id="browser">
            <h3>In the Browser</h3>
            <p><img src="{{ site.baseurl }}/resources/img/logos/js.svg" style="width: 110px; height: 110px; padding-top:20px"/></p>
          </div>
        </a>
        <a href="android">
          <div class="col-xs-4 col-sm-4 col-md-4 bullet-point snippet-link" id="android">
            <h3>On Android</h3>
            <p><img src="{{ site.baseurl }}/resources/img/logos/android.svg" style="width: 120px; height: 120px; padding-top:15px"/></p>
          </div>
        </a>
      </div>
      <div class="code-snippet-arrow"></div>
    </div>
  </div>

  <div class="code-snippet-row" id="code-snippet-row4">
    <div class="container">
      <div class="row">
      </div>
    </div>
  </div>
</div>

<!-- hidden code-snippet content -->

<div class="bullet-point-box" id="editors">
  <div class="bullet-row-5-wrap">
    <div class="container">
      <div class="row">
        <div class="col-md-12 bullet-point">
          <h2><span>Editors</span></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4 col-sm-2 col-md-2 bullet-point snippet-link" id="eclipse">
          <h3>Eclipse</h3>
          <p><img src="{{ site.baseurl }}/resources/img/logos/eclipse.svg" style="width: 80px; height: 80px"/></p>
        </div><div class="hidden-explanantion-box" id="after-eclipse"></div>
        <div class="col-xs-4 col-sm-2 col-md-2 bullet-point snippet-link" id="intellij">
          <h3>IntelliJ</h3>
          <p><img src="{{ site.baseurl }}/resources/img/logos/intellij.svg" style="width: 70px; height: 70px; padding-top:5px"/></p>
        </div><div class="hidden-explanantion-box" id="after-intellij"></div>
        <div class="col-xs-4 col-sm-2 col-md-2 bullet-point snippet-link" id="emacs">
          <h3>Emacs</h3>
          <p><img src="{{ site.baseurl }}/resources/img/logos/emacs.svg" style="width: 75px; height: 75px; padding-top:3px"/></p>
        </div><div class="hidden-explanantion-box" id="after-emacs"></div>
        <div class="col-xs-4 col-sm-2 col-md-2 bullet-point snippet-link" id="sublime">
          <h3>Sublime</h3>
          <p><img src="{{ site.baseurl }}/resources/img/logos/sublime.svg" style="width: 75px; height: 75px; padding-top:3px"/></p>
        </div><div class="hidden-explanantion-box" id="after-sublime"></div>
        <div class="col-xs-4 col-sm-2 col-md-2 bullet-point snippet-link" id="atom">
          <h3>Atom</h3>
          <p><img src="{{ site.baseurl }}/resources/img/logos/atom.svg" style="width: 80px; height: 80px"/></p>
        </div><div class="hidden-explanantion-box" id="after-atom"></div>
        <div class="col-xs-4 col-sm-2 col-md-2 bullet-point snippet-link" id="vim">
          <h3>Vim</h3>
          <p><img src="{{ site.baseurl }}/resources/img/logos/vim.svg" style="width: 75px; height: 75px; padding-top:3px"/></p>
        </div><div class="hidden-explanantion-box" id="after-vim"></div>
      </div>
      <div class="code-snippet-arrow"></div>
    </div>
  </div>

  <div class="code-snippet-row" id="code-snippet-row5">
    <div class="container">
      <div class="row">
      </div>
    </div>
  </div>
</div>

<div class="bullet-point-box bullet-point-box-large" id="tooling">
  <div class="bullet-row-7-wrap">
    <div class="container">
      <div class="row">
        <div class="col-md-12 bullet-point">
          <h2><span>Tooling</span></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4 bullet-point snippet-link" id="sbt">
          <h3>SBT, the Scala Build Tool</h3>
          <p>While Scala is well-supported by Maven,<br/>
             Ant and other build tools, SBT provides some<br/>
             additional features to make your life easier!</p>
        </div>
        <div class="col-md-6 col-lg-4 bullet-point snippet-link" id="stylelint">
          <h3>Stylecheckers &amp; Linters</h3>
          <p>Have full control over formatting and style.<br/>
             Get advice on how to improve your code,<br/>
             increase clarity and avoid mistakes.</p>
        </div>
        <div class="col-md-6 col-lg-4 bullet-point snippet-link">
          <h3>Binary Compatibility Checker</h3>
          <p>Scala's MiMa tool (migration manager)<br/>
             allows you to check whether a change<br/>
             would break older clients of your library.</p>
        </div>
      </div>
      <div class="code-snippet-arrow"></div>
    </div>
  </div>

  <div class="code-snippet-row" id="code-snippet-row7">
    <div class="container">
      <div class="row">
      </div>
    </div>
  </div>

{% include where-to-learn-more.html %}
</div>

<!-- hidden code-snippet content -->
<div class="hidden-code-snippet" id="hidden-eclipse">{% include editors-eclipse.html %}</div>
<div class="hidden-code-snippet" id="hidden-intellij">{% include editors-intellij.html %}</div>
<div class="hidden-code-snippet" id="hidden-emacs">{% include editors-emacs.html %}</div>
<div class="hidden-code-snippet" id="hidden-sublime">{% include editors-sublime.html %}</div>
<div class="hidden-code-snippet" id="hidden-atom">{% include editors-atom.html %}</div>
<div class="hidden-code-snippet" id="hidden-vim">{% include editors-vim.html %}</div>

<div id="events">
  <div class="container">
    <div class="row">
      <div class="col-md-12 upcoming-events">
        <h2><span>Upcoming Events</span></h2>
      </div>
      <div class="col-md-12" id="eventspane"></div>
    </div>
  </div>
  <div class="add-event"><a href="{{ site.baseurl }}/events">See more events</a> or <a href="https://github.com/scala/scala-lang/tree/master/events">add one to our feed</a></div>
</div>

<div id="training">
  <div class="container">
    <div class="row">
      <div class="col-md-12 upcoming-training">
        <h2><span>Upcoming Training</span></h2>
      </div>
      <div class="col-md-12" id="trainingspane"></div>
    </div>
  </div>
  <div class="add-training"><a href="{{ site.baseurl }}/training">See more trainings</a> or <a href="https://github.com/scala/scala-lang/tree/master/training">add one to our feed</a></div>
</div>

<div class="epfl-picture-box">
  <div class="container">
  </div>
</div>

{% include footertop.html %}
    <script src="{{ site.baseurl }}/resources/js/frontpage.js" type="text/javascript"></script>
{% include footerbottom.html %}
